@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --white: var(#fff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 1rem auto;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  background-color: rgba(255, 251, 251, 0.1);
  width: 25rem;
  margin: 0 auto;
}
main h3 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.conteiner {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.input-pass {
  width: 100%;
  padding: 0 0.5rem;
  outline: none;
  border: none;
  color: blueviolet;
  font-weight: bold;
}
.input-pass::placeholder {
  color: blueviolet;
}

.conteiner img {
  width: 2rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
